* {
    border: 1px solid red;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.page-top,
.footer {
    background-color: #2e180b;
    color: #ffe2adb6;
}

.page-top {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex: 1;
    align-items:  center;
    padding: 0 320px;
}

.logo {
    font-weight: bolder;
    font-size: 24px;
}

.text-box {
    align-self: stretch;
    flex: 1;
}

.awesome-text {
    font-size: 48px;
    font-weight: bolder;
    width: 324px;
}

.awesome-secondary {
    font-size: 18px;
    width: 464px;
}

.content-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
    padding: 0 320px;
    margin: 56px 0;
}

.img-box {
    display: flex;
}

.img-top{
    border-radius: 15px;    
    width: 600px;
    height: 250px;
    flex: 1;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 15px;
    font-size: 18px;
    margin-left: auto;
    flex: none;
}

a {
    text-decoration: none;
    color: #ffe2ad8e;
}

button {
    background-color: #f8a100;
    padding: 8px 28px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    border: none;
}

.page-middle-top,
.page-bottom {
    background-color:  #8c7651;
}

.page-middle-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.random-text {
    font-size: 36px;
    font-weight: bolder;
    color: #2e180b;
    flex: 1;
}

.box-container {
    display: flex;
    gap: 56px;
}

.content-container {
    width: 180px;
    text-align: center;
    color: #2e180b;
    flex: 1;
}

.box1,
.box2,
.box3,
.box4 {
    border-radius: 15px;
    width: 180px;
    height: 180px;
}

.box1 {
    background: #9e5c06;
}

.box2 {
    background: #81431f;
}

.box3 {
    background: #572d14;
}

.box4 {
    background: #41210f;
}

.page-middle-bottom {
    background-color: #ffd68ab6;
    padding: 136px 0px;

}

.quote-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    width: 840px;
    font-size: 36px;
    font-weight: lighter;
    color: #2e180bdc;
 }

p.quote {
    text-align: end;
    font-size: 22px;
    font-weight: bolder;
    font-style: none;
    color: #2e180b;
    margin-top: -10px;
}

.footer {
    font-size: 18px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}
