* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    
}

/* need to fix bolding */
h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

.text {
    color: #e5e7eb;
    font-size: 18px;
}

.header,
.section1 {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    padding: 50px;
}

.header {
    justify-content: space-between;
    padding: 2px 50px;
}

ul {
    display: flex;
    gap: 30px;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
}